@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@400..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Default Page Size: A4 */
.makeEvenOddBg > div:nth-child(odd) {
  background-color: #d9d9d9;
}
@media print {
  html,
  body {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    overflow: visible;
  }
  .myDiv {
    width: 100%;
    max-width: 800px; /* Adjust as needed */
    margin: auto; /* Center the content */
  }
  .myDiv * {
    page-break-inside: avoid; /* Prevent elements from splitting across pages */
  }
  * {
    margin: 0;
    padding: 0;
  }
  body {
    direction: rtl;
    margin-top: -50px;
  }
  .print-content {
    margin-top: 0 !important;
    padding-top: 0 !important;
  }
  .print-content2 {
    margin-top: 40px;
    scale: 2.5;
    transform-origin: top;
  }
  @page {
    size: A4 portrait;
    margin: 10mm;
    scale: 2;
  }

  /* If 80mm size is selected */
  .size-80mm @page {
    size: 80mm portrait;
    margin: 10mm;
  }

  /* Hide elements that should not appear in the printout */
  .no-print {
    display: none;
  }
}

@layer base {
  :root {
    /* Custom CSS Variables */
    --header-height: 4rem;
    --main: #7272f6;
    --mainText: #26262f;
    --secText: #868686;
    --mainHover: #5951c8;
    --mainBg: #fcfcfc;
    --mainBorder: #ececec;
    --mainSuccess: #2daa48;
    --mainSuccessHover: #3ed15e;
    --mainAlert: #fc3030;
    --mainAlertHover: #ff5659;
    /* CSS Variables for light theme */
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
    /* --main: #ffffff; */
  }

  .dark {
    /* --main: #000010; */
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }

  /* styles.css */
  .collapsibleDropdown {
    overflow: hidden;
  }
  .collapsibleDropdown[data-state='open'] {
    animation: slideDown 200ms ease-out;
  }
  .collapsibleDropdown[data-state='closed'] {
    animation: slideUp 200ms ease-out;
  }

  @keyframes slideDown {
    from {
      height: 0;
    }
    to {
      height: var(--radix-collapsible-content-height);
    }
  }

  @keyframes slideUp {
    from {
      height: var(--radix-collapsible-content-height);
    }
    to {
      height: 0;
    }
  }

  * {
    @apply border-border;
  }
  body {
    @apply min-h-svh w-full bg-background text-foreground;
  }
  body > #root {
    @apply h-svh;
  }

  /* Prevent focus zoom on mobile devices */
  @media screen and (max-width: 767px) {
    input,
    select,
    textarea {
      font-size: 1rem !important;
    }
  }
}
/* Customizing the scrollbar width and height */
::-webkit-scrollbar {
  width: 0.5rem; /* Scrollbar width */
  height: 0.5rem; /* Scrollbar height for horizontal scrollbar */
}

/* Customizing the scrollbar track (background) */
::-webkit-scrollbar-track {
  background-color: var(--background);
}

/* Customizing the scrollbar thumb (scroll handle) */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Change this color to your preference */
  border-radius: 1rem; /* Rounding the corners of the thumb */
  border: 2px solid transparent; /* Adding space around the thumb */
  background-clip: content-box; /* Keeping the thumb within the scrollbar bounds */
}

/* Hover effect for the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Optional: Customizing the scrollbar corners (for some browsers) */
::-webkit-scrollbar-corner {
  background-color: #f1f1f1;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .faded-bottom {
    @apply after:pointer-events-none after:absolute after:bottom-0 after:left-0 after:hidden after:h-32 after:w-full after:bg-[linear-gradient(180deg,_transparent_10%,_hsl(var(--background))_70%)] after:md:block;
  }
}
/* Global styles */
html[dir='rtl'] {
  direction: rtl;
  text-align: right;
}

html[dir='ltr'] {
  direction: ltr;
  text-align: left;
}
.css-1u9des2-indicatorSeparator {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  width: 1px;
  background-color: hsl(0, 0%, 80%);
  margin-bottom: 8px;
  margin-top: 8px;
  box-sizing: border-box;
  display: none !important;
}
html {
  font-family: 'Noto Kufi Arabic', sans-serif;
  font-size: 16px;
}

* {
  font-family: 'Noto Kufi Arabic';
  font-weight: 500;
}
body {
  line-height: 30px;
}
.header {
  height: 74px;
  border-radius: 8px 0px 0px 0px;
  border-width: 1px 0px 0px 0px;
  border-style: solid;
}
[data-collapsed='true'] {
  transition: all 0.5s ease;
}

[data-collapsed='false'] {
  transition: all 0.5s ease;
}
