@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Segoe UI";
  src: url("./assets/fonts/Segoe\ UI.ttf");
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: #f2f2f2;
    --popover-foreground: #f1f3f5;

    --primary: #004fee;
    --primary-foreground: #82a9f8;

    --secondary: #1ab3d9;
    --secondary-foreground: #18aad6;

    --muted: #edfafd;
    --muted-foreground: #c8eff9;

    --warn: #e70448;
    --warn-foreground: #fdf2f5;

    --chart: #fd5c8a;

    --gray: #9ca3af;
    --gray-200: #ecf0f1;
    --gray-300: #616672;
    --gray-400: #d1d5d7;
    --gray-500: #777777;

    --text-primary: #2f3d4c;

    --info: #ff8f01;
    --success: #129180;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 192 15% 94%;
    --input: #dfe3e6ff;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground text-[14px] font-customFont;
  }
}

*::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

*::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb:hover {
  background-color: #0c131788;
}
